POSTGRES_USER=change_this_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
FIRST_SUPERUSER_EMAIL=change_this_email_address@example.com
FIRST_SUPERUSER_PASSWORD=change_this_password
API_SECRET_KEY=change_this_secret_key
